<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户信息管理系统</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jQuery1.7.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style type="text/css">
        td, th {
            text-align: center;
        }
    </style>
</head>
<body>
<table border="1" class="table table-bordered table-hover">
        <tr class="success">
            <td><a href="/add_depart_html/" class="btn btn-primary">添加学院</a></td>
            <td><a href="/add_depart_major_html/" class="btn btn-primary">添加专业</a></td>
            <td><a href="/add_teacher_html/" class="btn btn-primary">添加教师</a></td>
            <td><a href="/add_base_course_html/" class="btn btn-primary">添加基础课程</a></td>
        </tr>
    </table>
<div class="container">
    <h3 style="text-align: center">学院信息列表</h3>

    <div style="float: left;">

        <form class="form-inline" action="/add_depart/" method="post">
            <div class="form-group">
                <label for="exampleInputName2">学院编号</label>
                <input type="text" class="form-control" id="exampleInputName2" name="dNo">
            </div>
            <div class="form-group">
                <label for="exampleInputName3">学院名</label>
                <input type="text" class="form-control" id="exampleInputName3" name="dName">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">院长</label>
                <input type="text" class="form-control" id="exampleInputEmail2" name="dDean" >
            </div>
            <button type="submit" class="btn btn-default">添加</button>
        </form>

    </div>

    <div style="float: right;margin: 5px;">
        <a class="btn btn-primary" href="">查看所有学院</a>
        <a class="btn btn-primary" href="">查看所有系</a>
        <a class="btn btn-primary" href="javascript:void (0);" id="delete">删除选中</a>
    </div>
{#    <form action="" method="post>#}
    <table border="1" class="table table-bordered table-hover">
        <tr class="success">
                <th>学院编号</th>
                <th>学院名称</th>
                <th>学院院长</th>
                <th>操作</th>
        </tr>
        {% for col in items %}
        <tr class="success">
            <td>{{ col.dNo }}</td>
            <td>{{ col.dName }}</td>
            <td>{{ col.dDean }}</td>
            <td><a href="/del_depart/?dNo={{ col.dNo }}" class="btn btn-primary">删除</a> </td>
        </tr>
        {% endfor %}

    </table>
{#    </form>#}
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li>
                    <a href="" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
{#    <div id="scid"  style="width: 500px;display: none">#}
{#        <div class="panel panel-default" >#}
{#            <div class="panel-heading" style="text-align: center">学生选课表</div>#}
{#            <table class="table" id="sc_table">#}
{#                <thead>#}
{#                <tr><td>学生姓名</td><td>课程名称</td><td>成绩</td></tr>#}
{#                </thead>#}
{#                <tbody id="tbodyid">#}
{##}
{#                </tbody>#}
{#            </table>#}
{#            <script>#}
{##}
{#            </script>#}
{#        </div>#}
{#    </div>#}
</div>

</body>
</html>
